/* --- Basic CSS Reset --- */

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Why Couples Resort
    6. About & FAQ
    7. Contact Form
    8. Footer

*/

/* 1. ---General Styles--- */

.hidden {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-weight: normal;
    font-size: 14px;


}

.container{
width: 320px;
margin: 0 auto;
background-color: #fff;
border: #333;

}

/*2. grid starts here */

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(4, 50px);
    grid-column-gap: 30px;
}

/*3. header*/

#main-nav{
    grid-column: 1/-1;

}

#main-nav label img{
    width: 20px;
    height: 20px;
    transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#main-nav input {
    display: none;
}

